
.main-div{
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-settings {
    font-size: 30px;
}

.content {
    display: flex;
    justify-content: space-around;
}

.settings {
    width: 45%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 300;
}

.banner {
    align-self: center;
    width: 55%;
    padding: 8px;

}

.quiz-setting {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    flex: 0.8;
}


@media (max-width:800px) {
    .content {
        flex-direction: column-reverse;
        align-items: center;
    }

    .banner {
        align-self: center;
        width: 85%;
        padding: 20px 0px 0px 0px;
    }

    .settings {
        width: 100%;
    }
}