.title{
    text-transform: uppercase;
    font-family: "Monstserrat",sans-serif;
    font-size: 8vw;
    cursor: pointer;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divider{
    width: 100%;
    margin:10px;
    background-color: grey;
}