@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: 'Poppins', sans-serif;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

.btn{
  padding: 10px 20px;
  /* cursor: pointer; */
  border-radius: 5px;
  background-color: rgb(178, 239, 178);
  /* border: 2px solid rgb(1, 84, 1); */
  border: 2px solid rgb(178, 239, 178);
  /* font-weight: bold; */
}

.btn:hover{
  cursor: pointer;
  border: 2px solid rgb(1, 84, 1);
}

.container{
  margin: 0px 30px 0px 30px;
  /* border: 2px solid red; */
}